@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;

  --terminal-bg-dark: #1e1e1e;
  --terminal-bar-dark: #393838;
  --bar-text-dark: #B5B5B4;
  --terminal-border-dark: #7E7E7E;

  --terminal-bar-light: #F1F0EF;
  --bar-text-light: #474747;

  --terminal-bg-light: #f0f0f0;
  --delete: #FE5F57;
  --warning: #FEBC2E;
  --success: #27C840;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.rounded-xlg {
  border-radius: 10px;
}
